<h3>Create question</h3>

<form {{action 'createQuestion' on='submit'}}>
  <p>Question: {{input type=text placeholder='New question title' value=newQuestion.title}}</p>
  <p>Answer 1 {{input type=text placeholder='Answer 1' value=newQuestion.answer1}}</p>
  <p>Answer 2 {{input type=text placeholder='Answer 2' value=newQuestion.answer2}}</p>
  <p>Answer 3 {{input type=text placeholder='Answer 3' value=newQuestion.answer3}}</p>
  <p>Answer 4 {{input type=text placeholder='Answer 4' value=newQuestion.answer4}}</p>
  <p>Enter the correct number of answer {{input type=number placeholder='Correct answer' value=newQuestion.correct}}</p>
  <p>Enter number of points {{input type=number placeholder='Points' value=newQuestion.points}}</p>
  <button type="submit">Create question</button>
</form>
